<ion-grid>
  <ion-row>
    <ion-img class="character_thumbnail" [src]="imageURL"></ion-img>
  </ion-row>
  <ion-row class="text-center">
    <ion-checkbox [(ngModel)]="isChecked" (ngModelChange)="emitChanges($event)"></ion-checkbox>
  </ion-row>
</ion-grid>

