<ion-header>
  <ion-toolbar>
    <ion-title>
      Nastaveni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label> Jméno postavy</ion-label>
        <ion-input [(ngModel)]="UserCharacterName" class="ion-text-right"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label> Region</ion-label>
        <ion-input [(ngModel)]="UserCharacterRegion" class="ion-text-right"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Realm</ion-label>
        <ion-input [(ngModel)]="UserCharacterRealm" class="ion-text-right"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="setUserSettings()">Uložit</ion-button>
  </ion-list>
</ion-content>