<ion-header>
  <ion-toolbar>
    <ion-title>
      Best Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-card-content>
      <ion-row>
          <ion-col col-3 *ngFor="let item of AffixListRow1">
            <app-image-checkbox (valueChange)="prepareAffixList($event)" [isChecked]="item.isChecked" [name]=item.name [imageURL]=item.url ></app-image-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 *ngFor="let item of AffixListRow2">
            <app-image-checkbox (valueChange)="prepareAffixList($event)" [isChecked]="item.isChecked" [name]=item.name [imageURL]=item.url></app-image-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 *ngFor="let item of AffixListRow3">
            <app-image-checkbox (valueChange)="prepareAffixList($event)" [isChecked]="item.isChecked" [name]=item.name [imageURL]=item.url></app-image-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 *ngFor="let item of AffixListRow4">
            <app-image-checkbox (valueChange)="prepareAffixList($event)" [isChecked]="item.isChecked" [name]=item.name [imageURL]="item.url"></app-image-checkbox>
          </ion-col>
        </ion-row>
    </ion-card-content>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="getRankings()" name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <div *ngIf="NotFound">
      <ion-card>
        <ion-card-content>
          <ion-card-title text-center>Kombinaci se nepodařilo vyhledat</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="Page">
      <ion-card class="mplus_card">
        <ion-card-header>  
          <ion-card-title>
                  <ion-text class="ion-text-uppercase" >Affixes</ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li *ngFor="let modifier of Page.rankings[0].run.weekly_modifiers">
              <ion-text>{{ modifier.name }} </ion-text><br>
              <ion-text>{{ modifier.description }} </ion-text>
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
      <ion-card class="mplus_card">
        <ion-card-header>  
          <ion-card-title>
                  <ion-text class="ion-text-uppercase" >Best Runs</ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li *ngFor="let ranking of Page.rankings">
              <ion-text>{{ ranking.rank }} </ion-text>
              <ion-text>{{ ranking.run.dungeon.name }} </ion-text>
              <ion-text>+{{ ranking.run.mythic_level }} </ion-text>
              <ion-text>{{ msToTime(ranking.run.clear_time_ms)}} </ion-text>
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>