<ion-header>
  <ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Nickname</ion-label>
        <ion-input [(ngModel)]="InputName" class="ion-text-right"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Region</ion-label>
        <ion-select (ngModelChange)="updateRealm($event)" [(ngModel)]="InputRegion" okText="OK" cancelText="Cancel">
          <ion-select-option *ngFor="let region of Regions" value={{region.value}}>{{region.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Realm</ion-label>
        <!--Hardcoded values only for EU region, too much work to get this data officialy from BlizzardAPI for this POC app
          src: https://www.wowprogress.com/realms/rank/eu -->
        <ion-select [(ngModel)]="InputRealm" okText="OK" cancelText="Cancel">
          <div *ngIf="InputRegion === 'eu'">
            <ion-select-option *ngFor="let realm of RealmsEU" value={{realm.value}}>{{realm.name}}</ion-select-option>    
          </div>
          <div *ngIf="InputRegion === 'us'">
            <ion-select-option *ngFor="let realm of RealmsUS" value={{realm.value}}>{{realm.name}}</ion-select-option>    
          </div>
        </ion-select>
      </ion-item>
    </ion-list>
    <section>
      <ion-button expand="block" (click)="getCharacterInfo()">Hledat</ion-button>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="NotFound">
    <ion-card>
      <ion-card-content>
        <ion-card-title text-center>Postavu se nepodařilo vyhledat</ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="Player">
    <ion-card class="character_card">
      <ion-card-header>  
        <ion-card-title>
                <ion-img class="character_thumbnail" [src]="Player.thumbnail_url"></ion-img>
                <ion-text class="ion-text-uppercase" >{{Player.name}} {{Player.race}} {{Player.class}}</ion-text>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-uppercase">{{Player.active_spec_name}}</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-uppercase">{{Player.guild.name}}</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-uppercase">{{(Player.faction)}}</ion-card-subtitle>
        <ion-card-subtitle>{{(Player.achievement_points)}} Achievement Points</ion-card-subtitle>
        <ion-card-subtitle>{{(Player.mythic_plus_scores.all)}} RIO Score</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card class="mplus_card">
      <ion-card-header>  
        <ion-card-title>
                <ion-text class="ion-text-uppercase" >Aktuální sezóna M+</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Nejlépe hodnocené klíče</ion-label>
        <ul>
          <li *ngFor="let bestRun of Player.mythic_plus_best_runs">
            <ion-text>{{ bestRun.dungeon }} </ion-text>
            <ion-text>+{{ bestRun.mythic_level }} </ion-text>
            <ion-text>{{ bestRun.score }}b. </ion-text>
            <ion-text>{{ msToTime(bestRun.clear_time_ms) }} </ion-text>
          </li>
        </ul>
        <ion-label>Nejvyšší klice:</ion-label>
        <ul>
          <li *ngFor="let highestRuns of Player.mythic_plus_highest_level_runs">
            <ion-text>{{ highestRuns.dungeon }} </ion-text>
            <ion-text>+{{ highestRuns.mythic_level }} </ion-text>
            <ion-text>{{ highestRuns.score }}b. </ion-text>
            <ion-text>{{ msToTime(highestRuns.clear_time_ms) }}</ion-text>
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
    <ion-card class="ranking_card">
      <ion-card-header>  
        <ion-card-title>
                <ion-text class="ion-text-uppercase" >Umístění</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>Povolání ranking:</ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-text>Realm {{Player.mythic_plus_ranks.class.realm}}</ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text>Region {{Player.mythic_plus_ranks.class.region}}</ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text>Svět {{Player.mythic_plus_ranks.class.world}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>Celkové hodnocení:</ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-text>Realm {{Player.mythic_plus_ranks.overall.realm}}</ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text>Region {{Player.mythic_plus_ranks.overall.region}}</ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text>Svět {{Player.mythic_plus_ranks.overall.world}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</div> 
</ion-content>